@{
    ViewData["Title"] = "Home Page";
    int sno = 0;
}


<div class="text-left">
    @*@foreach (string s in ViewBag.ContactList)
        {
            <label>@s</label><br />
        }*@

    <table class="table">
        <thead>
            <tr>
                <th>SNo.</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>           

            @foreach (var person in ViewBag.ContactList)
            {
                sno = sno + 1;
                <tr>
                    <td>@sno</td>
                    <td>
                        @foreach (var n in person.Names)
                        {
                            <label>Given Name:  @n.GivenName </label>
                            <br />
                            <label>DisplayName: @n.DisplayName </label>
                            <br />
                            <label>LastName: @n.DisplayNameLastFirst</label>
                            <br />
                            <label>MiddelName: @n.MiddleName</label>
                            <br />
                            <label>FamilyName: @n.FamilyName</label>
                            <br />
                        }
                    </td>
                    <td>
                        @if (person.PhoneNumbers != null)
                        {
                            foreach (var ph in person.PhoneNumbers)
                            {
                                <label>@ph.Type   @ph.Value;</label>
                                <br />
                            }
                        }
                    </td>
                    <td>
                        @if (person.EmailAddresses != null)
                        {
                            foreach (var e in person.EmailAddresses)
                            {
                                <label>@e.Type   @e.Value;</label>
                                <br />
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
