@{
    ViewData["Title"] = "Home Page";
    int sno = 0;
}


<div class="text-left">
    @*@foreach (string s in ViewBag.ContactList)
        {
            <label>@s</label><br />
        }*@


    <table class="table">
        <thead>
            <tr>
                <th colspan="2">About You</th>               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                @if (ViewBag.AboutMe.Names.Count > 0)
                {
                    <td>@ViewBag.AboutMe.Names[0].DisplayName</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <td>Email</td>
                @if (ViewBag.AboutMe.EmailAddresses.Count > 0)
                {
            <td>@ViewBag.AboutMe.EmailAddresses[0].Value</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <td>Your Contact</td>
                @if (ViewBag.AboutMe.PhoneNumbers.Count > 0)
                {
            <td>@ViewBag.AboutMe.PhoneNumbers[0].Value</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <td>Birthday</td>
                @if (ViewBag.AboutMe.Birthdays.Count > 0)
                {
            <td>@ViewBag.AboutMe.Birthdays[0].Date.Day/@ViewBag.AboutMe.Birthdays[0].Date.Month/@ViewBag.AboutMe.Birthdays[0].Date.Year </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <td>Your Photo</td>
                @if (ViewBag.AboutMe.CoverPhotos.Count > 0)
                {
                    <td><img src="@ViewBag.AboutMe.CoverPhotos[0].Url" /></td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        </tbody>
    </table>


    <table class="table">
        <thead>
            <tr>
                <th>SNo.</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var person in ViewBag.ContactList)
            {
                sno = sno + 1;
                <tr>
                    <td>@sno</td>
                    <td>
                        @if (person.Names != null)
                        {
                            foreach (var n in person.Names)
                            {
                                <label>@n.DisplayName </label>
                            }
                        }
                        else
                        {
                    <label>@sno </label>
                        }
                    </td>
                    <td>
                        @if (person.PhoneNumbers != null)
                        {
                            foreach (var ph in person.PhoneNumbers)
                            {
                                <label>@ph.Value </label>
                                <br />
                            }
                        }
                    </td>
                    <td>
                        @if (person.EmailAddresses != null)
                        {
                            foreach (var e in person.EmailAddresses)
                            {
                                <label>@e.Value </label>
                                <br />
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

